.pagination{
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pagination-btn{
  padding: 10px;
  background-color: rgb(154, 144, 138);
  align-items: center;
  justify-content: center;
}
.pagination-btn-input{
  padding: 6px;
  background-color: rgb(154, 144, 138);
}