.card {
  display: flex;
  width: 400px;
  height: 170px;
  padding: 1rem;
  background-color: rgba(0,98,98, 0.9);
  border-radius: 10px;
  color: white;
}
.leftSide {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightSide {
  position: relative;
  display: flex;
  width: 80%;
  flex-direction: column;
}
.author{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.percentage{
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media only screen and (min-width: 280px) and (max-width: 1024px) {
  .card {
    width: 300px;
  }
}